<template>
  <div class="container listings">

    <div class="row mt-6">
      <div class="col-12 col-lg-6 col-xl">

        <!-- Card -->
        <div class="card section-base">
          <div class="card-body">
            <div class="row align-items-center">
              <div class="col">

                <!-- Title -->
                <h6 class="card-title text-uppercase text-muted mb-2">
                  Количество проверок
                </h6>

                <!-- Heading -->
                <span class="h2 mb-0">
                      24
                    </span>

                <!-- Badge -->
                <span class="badge badge-soft-secondary mt-n1">
                      +6 за неделю
                    </span>

              </div>
              <div class="col-auto">

                <!-- Icon -->
                <span class="h2 fe fe-check-circle text-muted mb-0"></span>

              </div>
            </div> <!-- / .row -->

          </div>
        </div>

      </div>
      <div class="col-12 col-lg-6 col-xl">



      </div>
      <div class="col-12 col-lg-6 col-xl">

        <!-- Card -->
        <div class="card section-base">
          <div class="card-body">
            <div class="row align-items-center">
              <div class="col">

                <!-- Title -->
                <h6 class="card-title text-uppercase text-muted mb-2">
                  Прогресс текущей проверки
                </h6>

                <div class="row align-items-center no-gutters">
                  <div class="col-auto">

                    <!-- Heading -->
                    <span class="h2 mr-2 mb-0">
                          84.5%
                        </span>

                  </div>
                  <div class="col">

                    <!-- Progress -->
                    <div class="progress progress-sm">
                      <div class="progress-bar" role="progressbar" style="width: 85%" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>

                  </div>
                </div> <!-- / .row -->

              </div>
              <div class="col-auto">

                <!-- Icon -->
                <span class="h2 fe fe-clipboard text-muted mb-0"></span>

              </div>
            </div> <!-- / .row -->

          </div>
        </div>

      </div>
      <div class="col-12 col-lg-6 col-xl">

        <!-- Card -->
        <div class="card section-base">
          <div class="card-body">
            <div class="row align-items-center">
              <div class="col">

                <!-- Title -->
                <h6 class="card-title text-uppercase text-muted mb-2">
                  Средниее время проверки
                </h6>

                <!-- Heading -->
                <span class="h2 mb-0">
                     16 мин.
                    </span>

              </div>
              <div class="col-auto">

                <!-- Icon -->
                <span class="h2 fe fe-clock text-muted mb-0"></span>

              </div>
            </div> <!-- / .row -->

          </div>
        </div>

      </div>
    </div> <!-- / .row -->
    <div class="row">
      <div class="col-12">

        <!-- Orders -->
        <div class="card section-base">
          <div class="card-header">
            <div class="row align-items-center">
              <div class="col">

                <!-- Title -->
                <h4 class="card-header-title">
                  Начать новую проверку
                </h4>

              </div>
              <div class="col-auto mr-n3">

                <!-- Caption -->
                <span class="text-muted">
                      Проверить автомобиль
                    </span>

              </div>
              <div class="col-auto">

                <!-- Switch -->
                <div class="custom-control custom-switch">
                  <input type="checkbox" class="custom-control-input" id="cardToggle" data-toggle="chart" data-target="#ordersChart" data-add='{"data":{"datasets":[{"data":[15,10,20,12,7,0,8,16,18,16,10,22],"backgroundColor":"#d2ddec","label":"Affiliate"}]}}'>
                  <label class="custom-control-label" for="cardToggle"></label>
                </div>

              </div>
            </div> <!-- / .row -->

          </div>
          <div class="card-body">

            <p class="mt-2 text-secondary">Личные данные</p>

            <div class="row">
              <div class="col-4">
                <input class="form-control " placeholder="Фамилия">
              </div>
              <div class="col-4">
                <input class="form-control " placeholder="Имя">
              </div>
              <div class="col-4">
                <input class="form-control " placeholder="Отчество">
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-4">
                <input class="form-control " placeholder="Дата рождения (дд.мм.гггг)">
              </div>

            </div>

            <p class="mt-4 text-secondary">Паспорт</p>

            <div class="row">
              <div class="col-3">
                <input class="form-control " placeholder="Серия">
              </div>
              <div class="col-6">
                <input class="form-control " placeholder="Номер">
              </div>
              <div class="col-3">

              </div>
            </div>

            <p class="mt-4 text-secondary">Снилс</p>

            <div class="row">
              <div class="col-6">
                <input class="form-control " placeholder="Номер">
              </div>
              <div class="col-6">
              </div>
              <div class="col-3">
              </div>
            </div>

            <p class="mt-4 text-secondary">Данные организации</p>

            <div class="row">
              <div class="col-6">
                <input class="form-control " placeholder="Наименование общества">
              </div>
              <div class="col-6">
                <input class="form-control " placeholder="ИНН">
              </div>
              <div class="col-3">
              </div>
            </div>

            <button class="btn mt-4 float-right btn-primary">Начать проверку</button>

          </div>
        </div>

      </div>

    </div> <!-- / .row -->

    <div class="row mb-5">
      <div class="col-12 col-xl-7">

        <!-- Goals -->
        <div class="card section-base">
          <div class="card-header">
            <div class="row align-items-center">
              <div class="col">

                <!-- Title -->
                <h4 class="card-header-title">
                  Последние 5 проверок
                </h4>

              </div>
              <div class="col-auto">

                <!-- Button -->
                <a href="#!" class="btn btn-sm btn-white">
                  Посмотреть все
                </a>

              </div>
            </div> <!-- / .row -->
          </div>
          <div class="table-responsive mb-0" data-toggle="lists" data-lists-values='["goal-project", "goal-status", "goal-progress", "goal-date"]'>
            <table class="table table-sm table-nowrap card-table">
              <thead>
              <tr>
                <th>
                  <a href="#" class="text-muted sort" data-sort="goal-project">
                    Фио
                  </a>
                </th>
                <th>
                  <a href="#" class="text-muted sort" data-sort="goal-status">
                    Статус проверки
                  </a>
                </th>
                <th>
                  <a href="#" class="text-muted sort" data-sort="goal-progress">
                    Решение
                  </a>
                </th>
              </tr>
              </thead>
              <tbody class="list">
              <tr>
                <td class="goal-project">
                  Иванов Александр Иванович
                </td>
                <td class="goal-status">
                  <span class="text-warning">●</span> в процессе
                </td>
                <td class="goal-progress">
                  Не готово
                </td>
              </tr>
              <tr>
                <td class="goal-project">
                  Крыжовников Александр Петрович
                </td>
                <td class="goal-status">
                  <span class="text-warning">●</span> в процессе
                </td>
                <td class="goal-progress">
                  Не готово
                </td>

              </tr>
              <tr>
                <td class="goal-project">
                  Иванчук Катерина Михайловна
                </td>
                <td class="goal-status">
                  <span class="text-success">●</span> Завершена
                </td>
                <td class="goal-progress">
                  Проверка пройдена
                </td>

              </tr>
              <tr>
                <td class="goal-project">
                  Зыгарь Светлана Владимировна
                </td>
                <td class="goal-status">
                  <span class="text-danger">●</span> Отменена
                </td>
                <td class="goal-progress">
                  Отменена
                </td>
              </tr>
              <tr>
                <td class="goal-project">
                  Степанов Артур Иванович
                </td>
                <td class="goal-status">
                  <span class="text-success">●</span> Завершена
                </td>
                <td class="goal-progress">
                  Проверка пройдена
                </td>

              </tr>
              </tbody>
            </table>
          </div>
        </div>

      </div>
      <div class="col-12 col-xl-5">

        <!-- Card -->
        <div class="card section-base">
          <div class="card-body text-center">
            <div class="row justify-content-center">
              <div class="col-12 col-xl-10">

                <!-- Image -->
                <img src="static/assets/img/illustrations/coworking.svg" alt="..." class="img-fluid mt-n5 mb-4" style="max-width: 272px;">

                <!-- Title -->
                <h2 class="mb-2">
                  Корус - Проверка физлиц
                </h2>

                <!-- Content -->
                <p class="text-muted">
                  Быстрый способ проверить кандидатов, контр-агентов или партенров перед работой.
                </p>

              </div>
            </div> <!-- / .row -->
          </div>
        </div>

      </div>
    </div> <!-- / .row -->

  </div>

</template>

<script>
  export default {
    name: 'dashboard',
    data () {
      return {
        account: {},
        filterInput:''
      }
    },
    methods: {
      fetchAccount() {

      },
      fetchHistory(){

      },
      filterBy(list, value){
        value = value.charAt(0).toUpperCase() + value.slice(1);
        return list.filter(function(listing){
          return listing.title.indexOf(value) > -1 || listing.location.indexOf(value) > -1;
        });
      }
    },
    created: function(){
      this.fetchListings();
      this.fetchAccount();
    },
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

  .occupancy-section {
    transition: all 700ms;
  }

  .occupancy-section:hover  {
    box-shadow: 5px 5px 4px #F0F0F0;
  }

</style>
