<template>
  <div id="app">
  </div>
</template>

<script>
  export default {
    created: function () {
      document.addEventListener('touchmove', function (event) {
        event = event.originalEvent || event;
        if (event.scale !== 1) {
          event.preventDefault();
        }
      }, false);
    }
  }

</script>

<style>
  @import url('/static/assets/css/theme.css');

  /*body {*/
    /*background-color: #F0F0F0;*/
    /*color: #4A4949;*/
    /*font-weight: 400;*/
  /*}*/

  /*.btn-success {*/
    /*background-color: #4DA575;*/
  /*}*/

  /*.btn-nav {*/
    /*border-color: #4DA575;*/
    /*color: #4DA575;*/
  /*}*/

  /*.btn-nav:hover {*/
    /*font-weight: 600;*/
    /*color: #4DA575;*/
  /*}*/

  /*.u-lg-avatar {*/
    /*width: 5rem;*/
    /*height: 5rem;*/
  /*}*/

  /*.btn-nav:active {*/
    /*background-color: #4DA575;*/
    /*color: white;*/
  /*}*/

  .section-base {
    transition: all 700ms;
    box-shadow:0 .2rem .35rem rgba(0,0,0,.075);
  }

  .section-base:hover {
    -webkit-box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
    -moz-box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
    -ms-box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
    -o-box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
  }



</style>
